#contact {
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    background-color: lightgray;
    font-size: 20px;
}

#logo{
    font-size: 20px;
    background-color: black;
    color: white;
}

.navigation {
    float: right;
    background-color: black;
}

.current-position {
    color: green;
}

a{
    padding:20px;
    color:white;
}

img {
    vertical-align: middle;
    height:25%;
    width: 25%;
    }

.caption
{
    font-size:20px;
    width: 100%;
    text-align:center;
}

.par1 
{
    margin:0;
    width:100%;
    text-align:center;
    position:center;
}

#contact-form
{
    width: 300px;
    margin: auto;
    background-color: white;
}

#image-sources {
    margin-top: 75px;
}

.external-link {
    color: blue;
}